/* General */
body{
    font-family: 'Open Sans', serif;
    font-weight: normal;
}
h2, h3{
    font-weight: 600;
    font-family: 'Montserrat', serif;
    letter-spacing: 0.06rem;
}

.btn-verde{
    background-color: #14969B;
    color: white;
    border: none;
    border-radius: 25px;
    padding-left: 20px;
    padding-right: 20px;
}
.btn-verde:hover{
    background-color: #137578;
}
.btn-verde:active{
    background-color: #137578 !important;
}

.btn-naranja{
    background-color: #FF6600;
    margin: 5px 0px 5px 0px;
    color: white;
    border: none;
    border-radius: 25px;
    padding-left: 20px;
    padding-right: 20px;
}
.btn-naranja:hover{
    background-color: #c8572f;
}
.btn-naranja:active{
    background-color: #c8572f !important;
}

/*Separadores*/
.separadorMulti{
    width: 100%;
    height: 4px;
    background: rgb(255,101,0);
    background-image: url(../img/fondoColor.png);
}
.separadorNaranja{
    width: 100%;
    height: 4px;
    background: rgb(255,101,0);
}
.separadorVerde{
    width: 100%;
    height: 4px;
    background: #0C979C;
}
/*fin Separadores*/

/*boton whatsapp*/
.whatsapp{
    position: fixed;
    z-index: 15;
    bottom: 30px;
    left: 15px;
}
.whatsapp a{
    padding: 16px;
    border-radius: 35px;
    background-color: #0C979C;
    color: white;
    transition: all ease 0.5s ;
}
.whatsapp a:hover{
    padding: 18px;
    background-color: #03c136;
}
.whatsapp i{
    font-size: 25px;
    vertical-align: sub;
}
/*fin boton whatsapp*/

/*boton Subir*/
.subir{
    position: fixed;
    z-index: 10;
    bottom: 15px;
    right: 5px;
    transition: 1s all;
}

.subir-show{
    transform: translateY(0);
}

.subir-hide{
    opacity: 0;
    transform: translateY(100px);
}

.subir a{
    padding: 20px;
    border-radius: 7px 7px 0px 0px;
    background-color: #F48712;
    color: white;
}
.subir a i{
    font-size: 24px;
}
/*fin boton*/

/*Nav*/
/*Logo*/
.navbar-brand{
    width: 180px;
}

.nav-item a{
    border-radius: 7px 7px 0px 0px;

}
.nav-item a:hover{
    background-color: #AD502F;
}
.active{
    background-color: #FF6600;
}
.active:hover{
    background-color: #AD502F!important;
}
/*fin nav*/

/* carrusel */
.carousel-caption{
    max-width: 1200px;
    margin: auto;
}

.carrusel-menu{
    height: 500px;
    background-image: url(../img/bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.texto{
    width: 50%;
}
.texto h2{
    color: #FF6600;
    font-weight:bold;
}
.foto{
    width: 50%;
}
.foto img{
    width: 100%;
    max-width: 410px;
}
@media screen and (max-width: 1000px){
    .carrusel-menu{
        height: 400px;
    }
}

@media screen and (max-width: 700px){
    .carrusel-menu{
        height: 300px;
    }
    .carousel-caption{
        bottom: 3.25rem;
    }
    .texto{
        width: 100%;
    }
    .foto{
        display: none;
    }
}
/* fin carrusel */


/* Que hacemos */
.hacemos-textos{
    justify-content: center;
}
.hacemos h2{
    color: #FF6600;
}
.hacemos h3{
    color: #FF6600;
    font-size: 1.5rem;
}
.hacemos p{
    color: #333;
    width: 85%;
    margin: auto;
}

.card{
    width: 19rem;
}

.cardMod{
    justify-items: center;
}

.cardBtn{
    text-decoration: none;
    transition:all 0.3s ease;
}
.cardBtn:hover{
    box-shadow: 10px 10px 10px 0px rgba(194,194,194,0.7);
}
/* fin hacemos */


/* llamado */
.llamado{
    width: 100%;
    padding: 30px 0px;
    background: #14969B;
}
.llamado-texto{
    color: white;
}

.llamado-texto h2{
    font-size: 3.5rem;
}

/* fin Llamado */


/*Trabajos carrusel*/
.trabajos{
    width: 100%;
    padding: 30px 0px;
    background-color: #333;
    background-image: url('../img/FondoTrabajos.png');
}

.trabajos-textos{
    color: white;
}

.trabajos-textos h2{
    color: #FF6600;
    text-align: start;
}
.trabajos-textos h3{
    color: white;
    text-align: start;
    font-size: 1.1rem;
    font-weight: 600;
}
.trabajos-textos h3 i{
    color: #0C979C;
}
.trabajos-textos p{
    margin: auto;
    text-align: start;
    color: #a4a4a4;
}

.car-trabajos{
    padding: 0;
    align-content: center;
}
#carrusel-trabajos{
    max-width: 900px;
}
/*trabajos carrusel*/


/* contacto */
.contacto{
    width: 100%;
    background-image: url(../img/FondoContacto.png);
    background-repeat: round;
}

.col-form h3{
    color: #FF6600;
}
.col-form p{
    color: #333;
}

.formulario label{
    color: #333;
}
.formulario textarea{
    resize: none;
}

.col-redes{
    padding-left: 13rem;
}
.col-redes h3, h4, p, a{
    color: white;
    text-decoration: none;
}
.col-redes h4{
    border-bottom: 2px solid #0C979C;
    font-size: 1.4rem;
}
.col-redes i{
    font-size: 1.7rem;    
    vertical-align: middle;
    margin-right: 0.5rem;
}
.col-redes a{
    color: white;
    font-size: 1.1rem;
    transition: all ease 0.3s;
}
.col-redes a:hover{
    color: #333;
}
/* fin contacto */


/* footer */
.logoFooter{
    width: 170px;
}
footer a{
  text-decoration: none;
  color:#909090;
  font-size: 0.9rem;
  transition: all 0.2s ease-in-out;
}
footer a:hover{
    color: #F48712;
}

footer li {
    list-style: none;
}
footer h4{
    color: #F48712;
}
/* fin footer */

/*****PAGINA ATREZZO******/
/*atrezzo*/
.atrezzo{
    background-color:white;
    background-image: url('../img/FondoNosotros.png');
    background-repeat: round;
}
.atrezzo-texto h2{
    color: #FF6600;
}
.destacar{
    font-size: 1.4rem;
}
.atrezzo-texto p{
    color: #333;
    padding-right: 2rem;
}
.atrezzo-img{
    text-align: center;
}
/*fin atrezzo*/

/* Galeria */
.galeria{
    width: 100%;
    padding: 30px 0px;
    background-color: #333;
    background-image: url('../img/FondoTrabajos.png');   
    background-repeat: repeat-x;
}
.galeria-texto{
    text-align: center;
}
.galeria-texto h2{
    color: #0C979C;
}
.galeria-texto p{
    color: #a4a4a4;
}

/***** FIN PAGINA ATREZZO******/

/*****PAGINA SERVICIOS******/

/*****FIN PAGINA SERVICIOS******/